body{
	font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif !important
}
.markdown-section img{
    border: 1px solid #ddd;
    border-radius: 8px;
}

.markdown-section blockquote{
	padding-left: 20px;
	margin:2em 0;
	color:#858585;
	border-left: 4px solid #42b983
}

.book .book-summary .exc-trigger{
	font-size: 11px;
}